body{
    font-family: 'Cinzel', serif;
    font-weight: 800;
}
#container{
    background-image: url('/immagini/sfondo_colonne.jpeg');
    background-size: cover;
    background-repeat:no-repeat;

}
nav{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
p{
    display: inline-block;
}
li{
    display: inline-block;
    padding: 0.5cm;
    
}
.links{
    justify-content: flex-end;
    display: flex;
    flex: 2;
    margin-top: -3.5cm;
    margin-right: 1cm;
    font-weight: bold;
    font-size: 1.3em;
}
a{
    text-decoration: none;
    color: black;
}
#logo{
    width: 50%;
}
.logo{
    flex: 1;
}
.log{
    margin: 10px;
    background-color: rgb(138, 111, 61);
    border-radius: 10px;
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    margin-top: -3.9cm;
}
h1{
    text-align: center;
    margin-top: 2.3cm;
    margin-bottom: 8cm;
    margin-left: 20cm;
    margin-right: 2cm;
    font-size: 3em;
}
h2{
    text-align: center;
}
.find{
    background-color: rgb(138, 111, 61);
    border-radius: 10px; 
    font-family: 'Cinzel', serif;
    font-size: 1.1em;
    width: 40%;
    margin: 0 auto;
    display: block;
}
.card{
    width: 350px;
    border: 1px solid rgb(71, 52, 19);
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin-left: 115px;
    box-shadow: 1px 1px 1px rgb(71, 52, 19);
    background-color: rgb(216, 201, 174);
}
.card_image{
    width: 100%;
    border-radius: 10px;
}
.card_description{
    text-align: center;
    margin-bottom: 50px;
}
footer{
    margin-top: 5cm;
    background-color: transparent;
}
h3{
    float: left;
}
#logo_footer{
    width: 7%;
    display: block;
}
h4{
    float: right;
}
.icons{
    width: 2%;
    float: right;
}
#policy{
    margin-top: 1cm;
    font-size: 0.8em;
}
#img_main{
    width: 20%;
    display: block;
    margin: 0 auto;
    margin-bottom: 3cm;
}